
head {
  margin: 0px;
}

header {
  /* margin-top: 15px; */
  /* margin-bottom: 25px; */
  /* margin-right: 50px; */
  width: 100%;
}

/* hr {
  color: pink;
  weight: 12px;
}

nav {
  background-color:grey;
  width: 100%;
  padding-right: 50px;
} */

h1 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 15px;
}

h2 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  float: left;
  margin-bottom: 10px;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  margin-left: 15px;
}

aside {
  width: 210px;
  float: right;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 25px;

}

section {
  width: 70%;
  float: left;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
}

img {
  width: 100%;
  float: right;
  margin-bottom: 50px;
}

img.hero {
  width: 100%;
  margin-bottom: 15px;
}

h1.heddr {
  font-size: 24px;
  float: left;
  background-color: red;
  color: white;
  width: 100%;
  padding: 20px 20px 25px 25px;
  margin: 0px;
}

/* h2.heddr {
  font-size: 12px;
  float: right;
  background-color: red;
} */

div {
  margin: 0px
}

p.navig {
  background-color: hsl(0,0%,37%);
  text-decoration: underline;
  font-size:12px;
  color:white;
  float:right;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0px;
}

section.navig {
  background-color: hsl(0,0%,37%);
  width: 100%;
  /* padding-right: 30px; */
  margin: 0px;
}

footer {
  float: bottom;
  width: 100%;
  background-color: hsl(0,0%,37%);
}
